.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -0.5rem;
  display: flex;
  flex-direction: row;
  @media (min-width: $breakpoint) {
    margin-left: 0;
    flex-direction: column;
  }
}

.nav-link {
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  color: $text-color;
  box-shadow: none;
  border: 0;
  span {
    transition: 0.3s ease box-shadow;
  }
  &:hover,
  &.current {
    box-shadow: none;
    span {
      box-shadow: $link-shadow;
    }
  }
}
